{% extends "base.html" %}

{% block main %}
<h3><span aria-hidden="true" class=
          "glyphicon glyphicon-hand-right"></span> About</h3>
<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <td class="text-center">教材名称</td>
      <td>Sixteen</td>
    </tr>
    <tr>
      <td class="text-center">概要</td>
      <td>
        学習者は自らの声をインターフェースにすることにより、実際のコミュニケーションに近い形で英語学習を行うことができます。</td>
    </tr>
    <tr>
      <td class="text-center">キーワード</td>
      <td>英語 / 音読 / ニュアンス</td>
    </tr>
    <tr>
      <td class="text-center">目標</td>
      <td>ニュアンスの違いを踏まえた自然な英語が身に付くこと。</td>
    </tr>
    <tr>
      <td class="text-center">対象者</td>
      <td>大学生</td>
    </tr>
    <tr>
      <td class="text-center">学習者の条件</td>
      <td>
        高校レベルの基礎文法は身についている一方、留学経験等はなくニュアンスについての理解は浅い者を対象としています。</td>
    </tr>
    <tr>
      <td class="text-center">学習時間</td>
      <td>Sixteen minutes.</td>
    </tr>
    <tr>
      <td class="text-center">企画・制作</td>
      <td>Team Sixteen</td>
    </tr>
    <tr>
      <td class="text-center">作成者</td>
      <td>Hirokazu Kiyomaru</td>
    </tr>
  </tbody>
</table>
{% endblock %}

