{% extends "base.html" %}

{% block main %}
<h3><span aria-hidden="true" class=
          "glyphicon glyphicon-hand-right"></span> Date</h3>
<div class="pretest">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Pretest</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./pretest.html"><span aria-hidden="true"
									 class=
									 "glyphicon glyphicon-triangle-right"></span>　プレテスト</a>
    </div>
    <div class="panel-body">
      <p>まずはプレテストを受講し、今の実力を確認しましょう。</p>
      <p style="text-align: right"><a href=
									  "./pretest.html"><span aria-hidden=
															 "true" class=
															 "glyphicon glyphicon-ok"></span>　プレテストを始める</a></p>
    </div>
  </div>
</div>
<div class="cource">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Lessons</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q1.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　rentとborrowの違い</a>
    </div>
    <div class="panel-body">
      <p>学校でも習ったかもしれないこれらの動詞の違い。</p>
      <p>ちゃんと覚えていますか。</p>
      <p style="text-align: right"><a href=
									  "./q1.html"><span aria-hidden=
														"true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q2.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　deliciousとyummyの違い</a>
    </div>
    <div class="panel-body">
      <p>おいしいという表現にもたくさんあります。</p>
      <p>適切な形容詞を選べるとあなたの気持ちをより相手に上手に伝えられるようになるでしょう。</p>
      <p style="text-align: right"><a href=
									  "./q2.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q3.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　何かをしてもらって「嬉しい」時の表現</a>
    </div>
    <div class="panel-body">
      <p>何かうれしいことがあったら、その嬉しさをそのまま伝えたいものです。</p>
      <p>本当にうれしい気持ちを伝えたい時に言い方を学びましょう。</p>
      <p style="text-align: right"><a href=
									  "./q3.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q4.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「夢をみた」という時の表現</a>
    </div>
    <div class="panel-body">
      <p>夢は「見る」と日本語では表現しますが、英語ではどうなるのでしょう。</p>
      <p style="text-align: right"><a href=
									  "./q4.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q5.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　fineとokayの違い</a>
    </div>
    <div class="panel-body">
      <p>一言で終わるような返事こそ、ニュアンスの違いを理解していないと大きな誤解を生む原因になります。</p>
      <p style="text-align: right"><a href=
									  "./q5.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
</div>
<div class="test">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Test</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./test.html"><span aria-hidden="true"
								  class=
								  "glyphicon glyphicon-triangle-right"></span>　確認テスト</a>
    </div>
    <div class="panel-body">
      <p>ここまでのレッスンをよく思い出して実力を発揮しましょう。</p>
      <p style="text-align: right"><a href=
									  "./test.html"><span aria-hidden=
														  "true" class=
														  "glyphicon glyphicon-ok"></span>　テストを始める</a></p>
    </div>
  </div>
</div>
{% endblock %}

