{% extends "base.html" %}

{% block main %}
<h3><span aria-hidden="true" class=
          "glyphicon glyphicon-hand-right"></span> Hospital</h3>
<div class="pretest">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Pretest</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./pretest.html"><span aria-hidden="true"
									 class=
									 "glyphicon glyphicon-triangle-right"></span>　プレテスト</a>
    </div>
    <div class="panel-body">
      <p>まずはプレテストを受講し、今の実力を確認しましょう。</p>
      <p style="text-align: right"><a href=
									  "./pretest.html"><span aria-hidden=
															 "true" class=
															 "glyphicon glyphicon-ok"></span>　プレテストを始める</a></p>
    </div>
  </div>
</div>
<div class="cource">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Lessons</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q1.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　病院の認識</a>
    </div>
    <div class="panel-body">
      <p>「病院に行く」なんて簡単な表現にも、実はニュアンスの落とし穴があります。</p>
      <p style="text-align: right"><a href=
									  "./q1.html"><span aria-hidden=
														"true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q2.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　腹痛の表現</a>
    </div>
    <div class="panel-body">
      <p>腹痛といえば「stomach ache」と表現すると思います。</p>
      <p>しかし、適切に病状を説明するためには、特殊な痛みの表現も知っている必要があるでしょう。</p>
      <p style="text-align: right"><a href=
									  "./q2.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q3.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　痛みの表現</a>
    </div>
    <div class="panel-body">
      <p>「痛い」という意味を持つ英語はたくさんあります。</p>
      <p>品詞やニュアンスを理解して使うことができれば、自分の状況を適切に表現できるでしょう。</p>
      <p style="text-align: right"><a href=
									  "./q3.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q4.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　家族の範囲の認識</a>
    </div>
    <div class="panel-body">
      <p>「家族」という日本語が指す範囲と、「family」という英語が指す範囲は同じなのでしょうか。</p>
      <p style="text-align: right"><a href=
									  "./q4.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q5.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　肩こり？筋肉痛？</a>
    </div>
    <div class="panel-body">
      <p>肩こりには多くの人が悩まされているでしょう。</p>
      <p>肩こりがつらいときは、どのような表現で伝えたら良いのでしょうか。</p>
      <p style="text-align: right"><a href=
									  "./q5.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
</div>
{% endblock %}

