{% extends "base.html" %}

{% block main %}
<h3><span aria-hidden="true" class=
          "glyphicon glyphicon-hand-right"></span> Lessons</h3>
<div class="lessons">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=
         "./lessons/office/office.html"><span aria-hidden=
											  "true" class=
											  "glyphicon glyphicon-triangle-right"></span>　Office</a>
    </div>
    <div class="panel-body">
      <p>仕事先で起こり得るシチュエーションを想定しながら、適切な表現を学びましょう。</p>
      <p style="text-align: right"><a href=
									  "./lessons/office/office.html"><span aria-hidden=
																		   "true" class=
																		   "glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=
         "./lessons/shopping/shopping.html"><span aria-hidden=
												  "true" class=
												  "glyphicon glyphicon-triangle-right"></span>　Shopping</a>
    </div>
    <div class="panel-body">
      <p>買い物中に役立つ表現を学びましょう。</p>
      <p style="text-align: right"><a href=
									  "./lessons/shopping/shopping.html"><span aria-hidden=
																			   "true" class=
																			   "glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=
         "./lessons/restaurant/restaurant.html"><span aria-hidden=
													  "true" class=
													  "glyphicon glyphicon-triangle-right"></span>　Restaurant</a>
    </div>
    <div class="panel-body">
      <p>レストランでは店員さんと短い言葉でやりとりする場面が多くあります。</p>
      <p>ちょっとしたニュアンスを心がけるだけで、そのコミュニケーションが円滑になるでしょう。</p>
      <p style="text-align: right"><a href=
									  "./lessons/restaurant/restaurant.html"><span aria-hidden=
																				   "true" class=
																				   "glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=
         "./lessons/school/school.html"><span aria-hidden=
											  "true" class=
											  "glyphicon glyphicon-triangle-right"></span>　School</a>
    </div>
    <div class="panel-body">
      <p>学校では友人であったり先生であったり、多くの人と話す機会があるでしょう。</p>
      <p>そんな時に使える表現について学びます。</p>
      <p style="text-align: right"><a href=
									  "./lessons/school/school.html"><span aria-hidden=
																		   "true" class=
																		   "glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=
         "./lessons/date/date.html"><span aria-hidden=
										  "true" class=
										  "glyphicon glyphicon-triangle-right"></span>　Date</a>
    </div>
    <div class="panel-body">
      <p>デート中はスマートな英語を使いたいものです。</p>
      <p>色々なシチュエーションを想定しながら勉強していきましょう。</p>
      <p style="text-align: right"><a href=
									  "./lessons/date/date.html"><span aria-hidden=
																	   "true" class=
																	   "glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=
         "./lessons/hospital/hospital.html"><span aria-hidden=
												  "true" class=
												  "glyphicon glyphicon-triangle-right"></span>　Hospital</a>
    </div>
    <div class="panel-body">
      <p>病院では、自分の症状を適切に伝えることが非常に重要です。</p>
      <p>知っておくべき表現やニュアンスについて理解を深めることで、海外でも安心して治療が受けられるでしょう。</p>
      <p style="text-align: right"><a href=
									  "./lessons/hospital/hospital.html"><span aria-hidden=
																			   "true" class=
																			   "glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=
         "./lessons/house/house.html"><span aria-hidden=
											"true" class=
											"glyphicon glyphicon-triangle-right"></span>　House</a>
    </div>
    <div class="panel-body">
      <p>家での何気ない会話の中にもニュアンスの落とし穴はたくさんあります。</p>
      <p style="text-align: right"><a href=
									  "./lessons/house/house.html"><span aria-hidden=
																		 "true" class=
																		 "glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=
         "./lessons/daily/daily.html"><span aria-hidden=
											"true" class=
											"glyphicon glyphicon-triangle-right"></span>　Daily</a>
    </div>
    <div class="panel-body">
      <p>日常会話ほど言葉のニュアンスによって話の転がる方向が変わる場面はありません。</p>
      <p style="text-align: right"><a href=
									  "./lessons/daily/daily.html"><span aria-hidden=
																		 "true" class=
																		 "glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
</div>
{% endblock %}

