{% extends "base.html" %}

{% block main %}
<h3><span aria-hidden="true" class=
          "glyphicon glyphicon-hand-right"></span> Office</h3>
<div class="pretest">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Pretest</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./pretest.html"><span aria-hidden="true"
									 class=
									 "glyphicon glyphicon-triangle-right"></span>　プレテスト</a>
    </div>
    <div class="panel-body">
      <p>まずはプレテストを受講し、今の実力を確認しましょう。</p>
      <p style="text-align: right"><a href=
									  "./pretest.html"><span aria-hidden=
															 "true" class=
															 "glyphicon glyphicon-ok"></span>　プレテストを始める</a></p>
    </div>
  </div>
</div>
<div class="cource">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Lessons</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q1.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　時間はありますか？</a>
    </div>
    <div class="panel-body">
      <p>お互いの時間を確保して話し合うことはビジネスの世界でも重要です。</p>
      <p>あなたは正しく尋ねられるでしょうか。</p>
      <p style="text-align: right"><a href=
									  "./q1.html"><span aria-hidden=
														"true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q2.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　仕事にとりかかろう</a>
    </div>
    <div class="panel-body">
      <p>「仕事に取り掛かる」なんて本当によく使いそうなフレーズですね。</p>
      <p>これを機会に学びましょう。</p>
      <p style="text-align: right"><a href=
									  "./q2.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q3.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「マイペース」という表現</a>
    </div>
    <div class="panel-body">
      <p>「彼はマイペースな人」といったように日本語では使いますが、英語でも同じなのでしょうか。</p>
      <p style="text-align: right"><a href=
									  "./q3.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q4.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　飲み屋のはしごの断り方</a>
    </div>
    <div class="panel-body">
      <p>先輩の誘いとはいえ、明日のことを考えると帰らなければならないこともあるでしょう。</p>
      <p>相手を気遣った断り方を学びましょう。</p>
      <p style="text-align: right"><a href=
									  "./q4.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q5.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「残念ながら」という表現</a>
    </div>
    <div class="panel-body">
      <p>英語でも相手を傷つけない言い方ができるとコミュニケーションが円滑になります。</p>
      <p style="text-align: right"><a href=
									  "./q5.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
</div>
<div class="test">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Test</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./test.html"><span aria-hidden="true"
								  class=
								  "glyphicon glyphicon-triangle-right"></span>　確認テスト</a>
    </div>
    <div class="panel-body">
      <p>ここまでのレッスンをよく思い出して実力を発揮しましょう。</p>
      <p style="text-align: right"><a href=
									  "./test.html"><span aria-hidden=
														  "true" class=
														  "glyphicon glyphicon-ok"></span>　テストを始める</a></p>
    </div>
  </div>
</div>
{% endblock %}
