{% extends "base.html" %}

{% block main %}
<h3><span aria-hidden="true" class=
          "glyphicon glyphicon-hand-right"></span> Restaurant</h3>
<div class="pretest">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Pretest</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./pretest.html"><span aria-hidden="true"
									 class=
									 "glyphicon glyphicon-triangle-right"></span>　プレテスト</a>
    </div>
    <div class="panel-body">
      <p>まずはプレテストを受講し、今の実力を確認しましょう。</p>
      <p style="text-align: right"><a href=
									  "./pretest.html"><span aria-hidden=
															 "true" class=
															 "glyphicon glyphicon-ok"></span>　プレテストを始める</a></p>
    </div>
  </div>
</div>
<div class="cource">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Lessons</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q1.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　someとanyの使い方</a>
    </div>
    <div class="panel-body">
      <p>「some」と「any」の使い分けは誰もが一度は習っているはずです。</p>
      <p>あなたは違いを理解できていますか？</p>
      <p style="text-align: right"><a href=
									  "./q1.html"><span aria-hidden=
														"true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q2.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　waitの使い方</a>
    </div>
    <div class="panel-body">
      <p>人気レストランであれば、当然待つこともあるでしょう。</p>
      <p>「wait」の使い方を見直しましょう。</p>
      <p style="text-align: right"><a href=
									  "./q2.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q3.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「Would　you like to〜」と聞かれたら</a>
    </div>
    <div class="panel-body">
      <p>「Would　you like to〜」という表現も学校で何度も習いましたね。</p>
      <p>使い方を復習しましょう。</p>
      <p style="text-align: right"><a href=
									  "./q3.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q4.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　料理の注文に困ったら</a>
    </div>
    <div class="panel-body">
      <p>レストランでは、どれも美味しそうで何を選ぶか迷ってしまうこともあるでしょう。</p>
      <p>そんな時に使える店員さんのおすすめを聞く表現を学びましょう。</p>
      <p style="text-align: right"><a href=
									  "./q4.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q5.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　支払いのとき</a>
    </div>
    <div class="panel-body">
      <p>楽しい食事のあとは、お会計をしなければなりません。</p>
      <p>その表現を学びましょう。</p>
      <p style="text-align: right"><a href=
									  "./q5.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
</div>
<div class="test">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Test</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./test.html"><span aria-hidden="true"
								  class=
								  "glyphicon glyphicon-triangle-right"></span>　確認テスト</a>
    </div>
    <div class="panel-body">
      <p>ここまでのレッスンをよく思い出して実力を発揮しましょう。</p>
      <p style="text-align: right"><a href=
									  "./test.html"><span aria-hidden=
														  "true" class=
														  "glyphicon glyphicon-ok"></span>　テストを始める</a></p>
    </div>
  </div>
</div>
{% endblock %}

