{% extends "base.html" %}

{% block main %}
<h3><span aria-hidden="true" class=
          "glyphicon glyphicon-hand-right"></span> School</h3>
<div class="pretest">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Pretest</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./pretest.html"><span aria-hidden="true"
									 class=
									 "glyphicon glyphicon-triangle-right"></span>　プレテスト</a>
    </div>
    <div class="panel-body">
      <p>まずはプレテストを受講し、今の実力を確認しましょう。</p>
      <p style="text-align: right"><a href=
									  "./pretest.html"><span aria-hidden=
															 "true" class=
															 "glyphicon glyphicon-ok"></span>　プレテストを始める</a></p>
    </div>
  </div>
</div>
<div class="cource">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Lessons</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q1.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「Do you know～」と「Have you heard of～」の違い</a>
    </div>
    <div class="panel-body">
      <p>「～を知っていますか」なんて一番初めに習うレベルの英語ですが、実は意外な落とし穴があります。</p>
      <p style="text-align: right"><a href=
									  "./q1.html"><span aria-hidden=
														"true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q2.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「be willing to」と「be glad to」の違い</a>
    </div>
    <div class="panel-body">
      <p>乗り気な気持ちを表現できると会話が盛り上がります。</p>
      <p style="text-align: right"><a href=
									  "./q2.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q3.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「by」と「until」の違い</a>
    </div>
    <div class="panel-body">
      <p>どちらも「～まで」という表現ですが、使う場面は異なります。</p>
      <p>あなたは正しく理解できているでしょうか。</p>
      <p style="text-align: right"><a href=
									  "./q3.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q4.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「among」と「between」の違い</a>
    </div>
    <div class="panel-body">
      <p>これもよく似た意味ですが、用法は異なる英語の代表です。</p>
      <p>学校でも必ず習っているはずですが、ちゃんと覚えているでしょうか。</p>
      <p style="text-align: right"><a href=
									  "./q4.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q5.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「go」と「go to」の違い</a>
    </div>
    <div class="panel-body">
      <p>「行く」という意味の動詞は「go」だということはご存じでしょう。</p>
      <p>では「go」と「go to」の違い、あなたは分かりますか。</p>
      <p style="text-align: right"><a href=
									  "./q5.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
</div>
<div class="test">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Test</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./test.html"><span aria-hidden="true"
								  class=
								  "glyphicon glyphicon-triangle-right"></span>　確認テスト</a>
    </div>
    <div class="panel-body">
      <p>ここまでのレッスンをよく思い出して実力を発揮しましょう。</p>
      <p style="text-align: right"><a href=
									  "./test.html"><span aria-hidden=
														  "true" class=
														  "glyphicon glyphicon-ok"></span>　テストを始める</a></p>
    </div>
  </div>
</div>
{% endblock %}
