{% extends "base.html" %}

{% block main %}
<h3><span aria-hidden="true" class=
          "glyphicon glyphicon-hand-right"></span> Shopping</h3>
<div class="pretest">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Pretest</h4>
  <div class="panel panel-info">
	                        <div class="panel-heading">
      <a href="./pretest.html"><span aria-hidden="true"
									 class=
									 "glyphicon glyphicon-triangle-right"></span>　プレテスト</a>
    </div>
    <div class="panel-body">
      <p>まずはプレテストを受講し、今の実力を確認しましょう。</p>
      <p style="text-align: right"><a href=
									  "./pretest.html"><span aria-hidden=
															 "true" class=
															 "glyphicon glyphicon-ok"></span>　プレテストを始める</a></p>
    </div>
  </div>
</div>
<div class="cource">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Lessons</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q1.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　「maybe」の使い方</a>
    </div>
    <div class="panel-body">
      <p>私たちは、なにかにつけて「多分」という言葉を使います。</p>
      <p>本当に便利な言葉ですが、それは英語ではどのように表現したら良いのでしょう。</p>
      <p style="text-align: right"><a href=
									  "./q1.html"><span aria-hidden=
														"true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q2.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　willとbe going toの違い</a>
    </div>
    <div class="panel-body">
      <p>学校では、英語の言い換え問題としてしばしば出題されるこの表現。</p>
      <p>しかし、シチュエーションによってはニュアンスに大きな違いを生んでしまうことがあります。</p>
      <p style="text-align: right"><a href=
									  "./q2.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q3.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　お並びですか？</a>
    </div>
    <div class="panel-body">
      <p>「あの人並んでるのかな・・・？」という時に使える表現を学びましょう。</p>
      <p style="text-align: right"><a href=
									  "./q3.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q4.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　itとoneの使い分け</a>
    </div>
    <div class="panel-body">
      <p>代名詞というと「it」だったり「that」だったり色々ありますね。</p>
      <p>適切に使い分けることができれば、あなたの英語は格段に分かりやすくなるでしょう。</p>
      <p style="text-align: right"><a href=
									  "./q4.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="./q5.html"><span aria-hidden="true" class=
								"glyphicon glyphicon-triangle-right"></span>　there is , there areの使い方</a>
    </div>
    <div class="panel-body">
      <p>「ここに～があります。」という表現はみなさん習った記憶があると思います。</p>
      <p>しかしその表現、正しく使えていますか？</p>
      <p style="text-align: right"><a href=
									  "./q5.html"><span aria-hidden="true" class=
														"glyphicon glyphicon-ok"></span>　レッスンを始める</a></p>
    </div>
  </div>
</div>
<div class="test">
  <h4><span aria-hidden="true" class=
            "glyphicon glyphicon-pencil"></span>  Test</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="./test.html"><span aria-hidden="true"
								  class=
								  "glyphicon glyphicon-triangle-right"></span>　確認テスト</a>
    </div>
    <div class="panel-body">
      <p>ここまでのレッスンをよく思い出して実力を発揮しましょう。</p>
      <p style="text-align: right"><a href=
									  "./test.html"><span aria-hidden=
														  "true" class=
														  "glyphicon glyphicon-ok"></span>　テストを始める</a></p>
    </div>
  </div>
</div>
{% endblock %}
