<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sixteen</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="microphone/microphone.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="css/common.css" media="screen" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="./index.html"><img alt="logo" class="img-rounded" height=
        "auto" id="logo" src="image/logo.png" width="150px"></a>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class=
                "navbar-toggle collapsed" data-target="#navbar" data-toggle=
                "collapse" type="button"><span class="sr-only">Toggle
                navigation</span> <span class="icon-bar"></span> <span class=
                "icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="./index.html">　　　Sixteen　　　</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="./index.html">Home</a>
                    </li>
                    <li>
                        <a href="./about.html">About</a>
                    </li>
                    <li>
                        <a href="./lessons.html">Lessons</a>
                    </li>
                    <li>
                        <a href="./requirements.html">System Requirements</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href=""><span aria-hidden="true" class=
                        "glyphicon glyphicon-log-in"></span> Singin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <div class="col-sm-3 hidden-xs">
                <div id="sidebar_header">
                    <div>
                        <a href="./lessons.html"><span aria-hidden="true"
                        class="glyphicon glyphicon-search"></span> Search Lessons</a>
                    </div>
                </div>
                <div id="sidebar_body">
                    <div>
                        <a href="./lessons/office/office.html"><span aria-hidden="true" class=
                        "glyphicon glyphicon-triangle-right"></span> Office</a>
                    </div>
                    <div>
                        <a href="./lessons/shopping/shopping.html"><span aria-hidden="true" class=
                        "glyphicon glyphicon-triangle-right"></span> Shopping</a>
                    </div>
                    <div>
                        <a href="./lessons/restaurant/restaurant.html"><span aria-hidden="true" class=
                        "glyphicon glyphicon-triangle-right"></span> Restaurant</a>
                    </div>
                    <div>
                        <a href="./lessons/school/school.html"><span aria-hidden="true" class=
                        "glyphicon glyphicon-triangle-right"></span> School</a>
                    </div>
                    <div>
                        <a href="./lessons/date/date.html"><span aria-hidden="true" class=
                        "glyphicon glyphicon-triangle-right"></span> Date</a>
                    </div>
                    <div>
                        <a href="./lessons/hospital/hospital.html"><span aria-hidden="true" class=
                        "glyphicon glyphicon-triangle-right"></span> Hospital</a>
                    </div>
                    <div>
                        <a href="./lessons/house/house.html"><span aria-hidden="true" class=
                        "glyphicon glyphicon-triangle-right"></span> House</a>
                    </div>
                    <div>
                        <a href="./lessons/daily/daily.html"><span aria-hidden="true" class=
                        "glyphicon glyphicon-triangle-right"></span> Daily</a>
                    </div>
                </div>
            </div>

            <!-- main -->
            <div class="col-sm-9">
                <div class="carousel slide" data-ride="carousel" id="carousel">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target=
                        "#carousel"></li>
                        <li data-slide-to="1" data-target="#carousel"></li>
                        <li data-slide-to="2" data-target="#carousel"></li>
                    </ol><!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active"><a href="./lessons.html" style="display:block;"><img alt="image1" src="./image/image1.jpg"></a></div>
                        <div class="item"><a href="./about.html" style="display:block;"><img alt="image2" src="./image/image2.jpg"></a></div>
                        <div class="item"><a href="./requirements.html" style="display:block;"><img alt="image3" src="./image/image3.jpg"></a></div>
                    </div><!-- Controls -->
                     <a class="left carousel-control" data-slide="prev" href=
                    "#carousel" role="button"><span aria-hidden="true" class=
                    "glyphicon glyphicon-chevron-left"></span> <span class=
                    "sr-only">Previous</span></a> <a class=
                    "right carousel-control" data-slide="next" href="#carousel"
                    role="button"><span aria-hidden="true" class=
                    "glyphicon glyphicon-chevron-right"></span> <span class=
                    "sr-only">Next</span></a>
                </div>
                <h3 style="margin-top:40px;"><span aria-hidden="true" class=
                "glyphicon glyphicon-hand-right"></span> What is Sixteen?</h3>
                <p>　Sixteenは音読形式で実用的な英語を学習することができるアプリケーションです。
                あなたが外国人の話す日本語を聞いて違和感を覚えることがあるならば、
                あなたの話す英語もまた、英語を母国語とする人にとっては違和感のあるものなのかもしれません。
                Sixteenは、ネイティブが本当に使っている英語と、その英語が含むニュアンスをあなたに提供します。</p>
                <h3 style="margin-top:40px;"><span aria-hidden="true" class=
                "glyphicon glyphicon-hand-right"></span> What can Sixteen
                do?</h3>
                <p>　Sixteenでは、あなたの声が解答を書き込むペンになります。
                英語を話せるようになるための訓練は、英語を話すことによってなされるべきです。 恥ずかしがることはありません。
                Sixteenはコンピュータによる音声認識技術を用いて、あなたの話す英語を認識します。
                あなたの間違いや発音を笑う相手はどこにもいません。</p>
                <h3 style="margin-top:40px;"><span aria-hidden="true" class=
                "glyphicon glyphicon-hand-right"></span> What should I begin
                with?</h3>
                <p>
                　Sixteenでの最初の一歩は、好きなレッスンを選び、そのプレテストを受けることです。このプレテストは今のあなたの実力を
                測るために行われます。そして自分のレベルを知ったならば、いよいよ勉強の始まりです。マイクを用意し、レッスンを進めましょう。
                レッスンの最後にはもう一度テストが行われます。心配する必要はありません。
                レッスンを終えたあなたならば、きっと答えられるでしょう。</p>
                <h3 style="margin-top:40px;"><span aria-hidden="true" class=
                "glyphicon glyphicon-hand-right"></span> Who is developing
                Sixteen?</h3>
                <p>　この教材について詳しくは<a href="./about.html">About</a>を参照してください。</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="js/bootstrap.min.js">
    </script>
</body>
</html>
